ICLOUD_ACCOUNT_ID=
ICLOUD_USERNAME=
ICLOUD_PASSWORD=
YT_REFRESH_TOKEN=
YT_CLIENT_ID=
YT_CLIENT_SECRET=
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_PRIVATE_KEY_B64=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
